
# Src
server/.deno_plugins/*

server/environment/environment.nightly.ts
server/environment/environment.dev.ts
server/environment/environment.ts

server/app

server/services/badge/icon/icons

# Editor settings
.vscode/settings.json
tsconfig.json
