:root {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fa3;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #662d91;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

.icon-add, .icon-close {
  position: relative;
}
.icon-add:before, .icon-add:after, .icon-close:before, .icon-close:after {
  content: "";
  position: absolute;
  background-color: #555;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 4px;
  height: 16px;
  margin: auto;
}
.icon-add:after, .icon-close:after {
  height: 4px;
  width: 16px;
}

.icon-close:before, .icon-close:after {
  transform: rotate(45deg);
}

.icon-md {
  position: relative;
}
.icon-md:before, .icon-md:after {
  content: "";
  position: absolute;
  background-color: transparent !important;
  border: 4px solid;
  border-color: #fff #fff transparent transparent;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 4px;
  height: 4px;
  transform: translateX(2px) rotate(45deg);
  margin: auto;
}
.icon-md:after {
  transform: translateX(-2px) rotate(225deg);
}

html {
  font-family: acumin-pro, sans-serif;
}

body {
  background-color: #c1272d;
  margin: 0;
}

@media (min-width: 360px) {
  main {
    padding: 0 20px;
  }
}
footer {
  line-height: 30px;
}

a {
  color: #c1272d;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}
.cta .badge .badge-right {
  background-color: #f15a24;
}

.strike {
  text-decoration: line-through;
  text-decoration-color: #f15a24;
  text-decoration-thickness: 3px;
}

.hidden {
  display: none;
}

.hero {
  background-color: #c1272d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  margin: 0 auto;
  padding: 0 10px;
}
.hero .title {
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 20vh;
}
.hero .title h1 {
  font-weight: 100;
  margin: 0;
}
.hero .title p {
  margin: 0;
}
.hero .title .badge {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .hero .title {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}
.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hero.bg {
  z-index: -1;
}

.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 900px;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;
}
.hero-nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}
.hero-nav nav a {
  color: #fff;
  font-family: roboto, sans-serif;
  font-size: 22px;
  text-decoration: none;
  margin-left: 30px;
}

.content {
  background-color: #fff;
  padding: 30px 0;
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
}

.section {
  margin: auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
}
.section .header {
  letter-spacing: 3px;
  font-family: roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.section .para {
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 200;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}
.section:nth-of-type(2n) {
  background-color: #eee;
}

footer.section {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .section .header {
    font-size: 2.5rem;
  }
  .section .para {
    line-height: 3.5rem;
    font-size: 1.8rem;
  }

  footer.section {
    font-size: 1rem;
  }
}
.dashboard-section {
  background-color: #fff;
  border-radius: 5px;
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
}
.dashboard-section h1 {
  margin: 0;
}
@media (min-width: 768px) {
  .dashboard-section {
    margin: 50px auto;
    padding: 30px;
  }
}

.dashboard-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#welcome {
  display: none;
}
#welcome p {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
#welcome.shown {
  display: block;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 60px);
  height: 100%;
}
.resources .resources-wrapper {
  width: 300px;
}
@media (min-width: 768px) {
  .resources .resources-wrapper {
    width: 600px;
  }
}
.resources .badge-link {
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  height: unset;
}
.resources .badge-link > * {
  flex: 1 1;
}
.resources .badge-link .badge-right {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 1s;
}
.resources .badge-link:hover .badge-right {
  background-position-x: -500px;
}
@media (min-width: 768px) {
  .resources .badge-link {
    flex-direction: row;
    height: 50px;
  }
}

#dov {
  background-color: #0006;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -1000px;
  left: -1000px;
  z-index: 2;
  margin: auto;
  width: 100vmax;
  height: 100vmax;
  overflow: hidden;
  transition-duration: 0.5s;
}
#dov .dialog-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 310px;
}
@media (min-width: 768px) {
  #dov .dialog-wrapper {
    width: 390px;
  }
}
#dov .dialog-wrapper.advanced .dialog {
  transition-delay: 0s;
}
#dov .dialog-wrapper.advanced .dialog:first-of-type {
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
}
#dov .dialog-wrapper.advanced .dialog:last-of-type {
  transform: translateX(calc(-100% - 10px)) scale(1);
  opacity: 1;
  visibility: unset;
}
#dov .dialog {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 10px;
  padding: 20px;
  min-width: 270px;
  opacity: 1;
  transition-duration: 0.6s;
  transition-delay: 0.1s;
}
#dov .dialog .dialog-adv-switcher {
  background: none;
  border: none;
  color: #c1272d;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: acumin-pro, sans-serif;
  text-align: right;
}
#dov .dialog .dialog-adv-switcher:focus {
  outline: none;
  text-decoration: underline;
}
#dov .dialog h2 {
  margin-top: 0;
}
#dov .dialog p {
  margin-top: 0;
}
#dov .dialog label {
  font-weight: 700;
  margin-bottom: 5px;
}
#dov .dialog input, #dov .dialog select {
  background-color: #eee;
  border: none;
  border-bottom: 2px solid #555;
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding: 10px;
  flex: 1 1;
}
#dov .dialog button:not(:first-of-type) {
  margin-top: 10px;
}
#dov .dialog button .badge-left {
  flex: 1 1;
}
#dov .dialog:last-of-type {
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 768px) {
  #dov .dialog {
    min-width: 350px;
  }
}
#dov.collapsed {
  border-radius: 300%;
  width: 0;
  height: 0;
  visibility: hidden;
}
#dov.collapsed .dialog {
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0s;
}
#dov.collapsed #adv-dialog {
  transform: translateX(calc(-100% - 10px));
}

.badge, .badge-editor {
  display: flex;
  height: 50px;
  line-height: 50px;
}
.badge .badge-left, .badge .badge-right, .badge-editor .badge-left, .badge-editor .badge-right {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
  text-align: center;
  text-shadow: #0006 1px 1px 5px;
  text-transform: uppercase;
}
.badge .badge-left, .badge-editor .badge-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: roboto, sans-serif;
  font-weight: 500;
}
.badge .badge-left img, .badge-editor .badge-left img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.badge .badge-right, .badge-editor .badge-right {
  letter-spacing: 3px;
  font-family: montserrat, sans-serif;
  font-weight: 800;
}
.badge.badge-small, .badge-editor.badge-small {
  height: 40px;
  line-height: 40px;
}
@media (max-width: 768px) {
  .badge.badge-small .badge-left, .badge.badge-small .badge-right, .badge-editor.badge-small .badge-left, .badge-editor.badge-small .badge-right {
    padding: 0 10px;
  }
}

.badge {
  border: none;
  border-radius: 0;
  padding: 0;
}
.badge .badge-right {
  background-color: #662d91;
  flex: 1 0;
  text-align: center;
}

a.badge {
  display: inline-flex;
  text-decoration: none;
}

button.badge, a.badge {
  cursor: pointer;
}
button.badge .badge-right, a.badge .badge-right {
  background-image: linear-gradient(45deg, #662d91 49.9%, #f15a24 50%);
  background-size: 300%;
  background-repeat: repeat-x;
  transition: background;
  transition-duration: 0.6s;
  min-width: 80px;
}
button.badge:hover .badge-right, button.badge:focus .badge-right, a.badge:hover .badge-right, a.badge:focus .badge-right {
  background-position-x: -220px;
}

.badge-editor {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: unset;
  overflow: hidden;
}
.badge-editor .badge-left, .badge-editor .badge-right {
  background-color: #655;
  border: none;
  border-radius: 0;
  flex: 1 1;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  padding: 12px;
  text-overflow: ellipsis;
}
.badge-editor .badge-right {
  background-color: #AB2;
}
.badge-editor.style-plastic .badge-left, .badge-editor.style-plastic .badge-right {
  background-image: linear-gradient(0deg, #0003, transparent);
}
@media (min-width: 768px) {
  .badge-editor {
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
  }
}

.badge-actions {
  display: flex;
  position: relative;
}
.badge-actions button {
  background-color: #000;
  border: #000 2px solid;
  border-left-color: #fff;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  flex: 1 1;
  min-width: 60px;
  min-height: 45px;
}
.badge-actions button:before, .badge-actions button:after {
  background-color: #fff;
}
.badge-actions button img {
  height: 1.1rem;
  width: 1.1rem;
  flex: 1 1;
}
.badge-actions .badge-ind-group {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
}
.badge-actions .badge-ind-group .badge-ind {
  text-align: center;
  line-height: 45px;
  min-width: 30px;
}
@media (min-width: 768px) {
  .badge-actions .badge-ind-group {
    background-color: unset;
    background-image: linear-gradient(0deg, #0005, #0001);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .badge-actions .badge-ind-group .badge-ind {
    background-color: #0003;
    font-size: 0.8rem;
    min-width: 25px;
    line-height: 25px;
  }
}

.profile-icon {
  position: relative;
  width: 35px;
  height: 35px;
}
.profile-icon > button {
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  width: 35px;
  height: 35px;
  padding: 0;
  transition-duration: 0.3s;
}
.profile-icon > button:hover, .profile-icon > button:focus {
  box-shadow: #F15A24 0 0 6px;
  outline: none;
}
.profile-icon img {
  width: 35px;
  height: 35px;
}
.profile-icon .profile-options {
  background-color: #fff;
  box-shadow: #0008 5px 5px 30px;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
  width: 220px;
  padding: 20px;
  transition-duration: 0.6s;
  overflow: hidden;
}
.profile-icon .profile-options h2 {
  margin: 0;
}
.profile-icon .profile-options .badge {
  text-align: center;
  width: 220px;
}
.profile-icon .profile-options .badge .badge-left {
  flex: 1 1;
}
.profile-icon .profile-options .badge:not(:last-child) {
  margin-bottom: 10px;
}
.profile-icon .profile-options.collapsed {
  width: 35px;
  height: 35px;
  opacity: 0;
  visibility: hidden;
}

.project .project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .project .project-header {
    flex-direction: row;
  }
}
.project h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 20px;
}
.project h2 .droplet {
  background-color: #f60;
  border-radius: 50%;
  display: none;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.project h2 .project-username {
  color: #555;
  display: none;
}
.project h2 .project-save {
  background-color: #eee;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 0.8rem;
  color: #555;
  padding: 5px 10px;
  transform: translateY(5px);
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}
.project h2 .project-save.shown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.project h2 .project-save.error {
  background-color: #f50;
  color: #fff;
}
@media (min-width: 768px) {
  .project h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .project h2 .droplet {
    display: inline-flex;
  }
  .project h2 .project-username {
    display: unset;
  }
}
.project .project-actions button {
  border: none;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: #0006 2px 2px 5px;
  cursor: pointer;
  margin-left: auto;
  height: 30px;
  width: 30px;
  transition-duration: 0.1s;
}
.project .project-actions button:hover, .project .project-actions button:focus {
  background-color: #eee;
  outline: none;
}
.project .project-actions button:not(:last-of-type) {
  margin-right: 10px;
}
.project .badges {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding-left: 0;
}
.project .badges li:not(:last-of-type) {
  margin-bottom: 20px;
}

.loader .loader-title {
  animation: bg-loader 2s linear infinite forwards;
  background-image: linear-gradient(45deg, #eee 20%, #ddd 50%, #eee 80%);
  background-size: 500px;
  display: block;
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
}
.loader .loader-badge {
  animation: bg-loader 2s linear infinite forwards;
  background-image: linear-gradient(45deg, #eee 20%, #ddd 50%, #eee 80%);
  background-size: 500px;
  display: block;
  height: 50px;
  width: 100%;
}
.loader .loader-badge:not(:last-of-type) {
  margin-bottom: 20px;
}

@keyframes bg-loader {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 500px;
  }
}

/*# sourceMappingURL=index.css.map */
