:root {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #662d91;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

html {
  font-family: acumin-pro, sans-serif;
}

body {
  background-color: #c1272d;
  margin: 0;
}

main {
  padding: 0 20px;
}

footer {
  line-height: 30px;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}
.cta .badge .badge-right {
  background-color: #f15a24;
}

.hero {
  background-color: #c1272d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  margin: 0 auto;
}
.hero .title {
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 20vh;
}
.hero .title h1 {
  font-weight: 100;
  margin: 0;
}
.hero .title p {
  margin: 0;
}
.hero .title .badge {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .hero .title {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}
.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hero.bg {
  z-index: -1;
}

.content {
  background-color: #fff;
  padding: 50px 0;
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
}

.section {
  margin: auto;
  position: relative;
  text-align: center;
}
.section .header {
  letter-spacing: 3px;
  font-family: roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: #0006 5px 5px 10px;
}

.dashboard-section {
  background-color: #fff;
  border-radius: 5px;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
}

.dashboard-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.badge, .badge-editor {
  display: flex;
  line-height: 50px;
  height: 50px;
}
.badge .badge-left, .badge .badge-right, .badge-editor .badge-left, .badge-editor .badge-right {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
  text-transform: uppercase;
}
.badge .badge-left, .badge-editor .badge-left {
  font-family: roboto, sans-serif;
  font-weight: 500;
}
.badge .badge-right, .badge-editor .badge-right {
  background-color: #662d91;
  letter-spacing: 3px;
  font-family: montserrat, sans-serif;
  font-weight: 800;
}

.badge {
  border: none;
  border-radius: 0;
  padding: 0;
}
.badge .badge-right {
  background-color: #662d91;
  flex: 1 0;
  text-align: center;
}

a.badge {
  display: inline-flex;
  text-decoration: none;
}

button.badge, a.badge {
  cursor: pointer;
}
button.badge .badge-right, a.badge .badge-right {
  background-image: linear-gradient(45deg, #662d91 49.9%, #f15a24 50%);
  background-size: 300%;
  background-repeat: repeat-x;
  transition: background;
  transition-duration: 0.6s;
  min-width: 80px;
}
button.badge:hover .badge-right, a.badge:hover .badge-right {
  background-position-x: -220px;
}

.profile-icon img {
  width: 35px;
  height: 35px;
}

.project h2 {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.project h2 .droplet {
  background-color: #f60;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.project .badges {
  list-style: none;
  padding-left: 0;
}
.project .badge-editor {
  margin-bottom: 20px;
}
.project .badge-editor .badge-left, .project .badge-editor .badge-right {
  border: none;
  border-radius: 0;
  flex: 1 1;
}
.project .badge-actions {
  display: flex;
}
.project .badge-actions button {
  background-color: #000;
  border: #000 1px solid;
  border-right-color: #fff;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  min-width: 60px;
}

.loader .loader-title {
  animation: bg-loader 2s linear infinite forwards;
  background-image: linear-gradient(45deg, #eee 20%, #ddd 50%, #eee 80%);
  background-size: 500px;
  display: block;
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
}
.loader .loader-badge {
  animation: bg-loader 2s linear infinite forwards;
  background-image: linear-gradient(45deg, #eee 20%, #ddd 50%, #eee 80%);
  background-size: 500px;
  display: block;
  height: 50px;
  width: 100%;
}
.loader .loader-badge:not(:last-of-type) {
  margin-bottom: 20px;
}

@keyframes bg-loader {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 500px;
  }
}

/*# sourceMappingURL=index.css.map */
