
.badge-editor {
  display: flex;
  flex-direction: column;
  height: unset;

  .badge-left, .badge-right {
    background-color: #655;
    border: none;
    border-radius: 0;
    flex: 1 1;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    padding: 12px;
    text-overflow: ellipsis;
  }

  .badge-right {
    background-color: #AB2;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
  }

  &.style-plastic {
    .badge-left, .badge-right {
      background-image: linear-gradient(0deg, #0003, transparent);
    }
  }
}

.badge-actions {
  display: flex;

  button {
    background-color: #000;
    border: #000 2px solid;
    border-left-color: #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;

    font-weight: 700;
    font-size: 1.5rem;

    flex: 1 1;
    min-width: 60px;

    &:before, &:after {
      background-color: #fff;
    }
  }
}

.badge-options {
  width: 100%;
}