
.badge-editor {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: unset;
  overflow: hidden;

  .badge-left, .badge-right {
    background-color: #655;
    border: none;
    border-radius: 0;
    flex: 1 1;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    padding: 12px;
    text-overflow: ellipsis;
  }

  .badge-right {
    background-color: #AB2;
  }

  &.style-plastic {
    .badge-left, .badge-right {
      background-image: linear-gradient(0deg, #0003, transparent);
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
  }
}

.badge-actions {
  display: flex;
  position: relative;

  button {
    background-color: #000;
    border: #000 2px solid;
    border-left-color: #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.5rem;

    flex: 1 1;
    min-width: 60px;
    min-height: 45px;

    &:before, &:after {
      background-color: #fff;
    }

    img {
      height: 1.1rem;
      width: 1.1rem;
      flex: 1 1;
    }
  }

  .badge-ind-group {
    background-color: #000;
    display: flex;
    justify-content: flex-end;

    .badge-ind {
      text-align: center;
      line-height: 45px;
      min-width: 30px;
    }
  }

  @media (min-width: 768px) {
    .badge-ind-group {
      background-color: unset;
      background-image: linear-gradient(0deg, #0005, #0001);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;

      .badge-ind {
        background-color: #0003;
        font-size: 0.8rem;
        min-width: 25px;
        line-height: 25px;
      }
    }
  }
}