
.project {
  h2 {
    display: flex;
    align-items: center;
    margin-top: 0;

    .droplet {
      background-color: #f60;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }
  
  .badges {
    list-style: none;
    padding-left: 0;
  }

  .badge-editor {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .badge-left, .badge-right {
      background-color: #655;
      border: none;
      border-radius: 0;
      flex: 1 1;
    }

    .badge-right {
      background-color: #AB2;
    }
  }

  .badge-actions {
    display: flex;

    button {
      background-color: #000;
      border: #000 1px solid;
      border-right-color: #fff;
      border-radius: 0;
      color: #fff;
  
      font-weight: 700;
      font-size: 1.5rem;
  
      min-width: 60px;
    }
  }

  .badge-options {
    width: 100%;
  }
}