
.project {
  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    margin: 0;

    .droplet {
      background-color: #f60;
      border-radius: 50%;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }

  .project-actions button {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: #0006 3px 3px 10px;
    margin-left: auto;
    height: 30px;
    width: 30px;
    transition-duration: 0.1s;

    &:hover, &:focus {
      background-color: #eee;
      outline: none;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  
  .badges {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding-left: 0;

    li:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .badge-editor {
    display: flex;
    flex-wrap: wrap;

    .badge-left, .badge-right {
      background-color: #655;
      border: none;
      border-radius: 0;
      flex: 1 1;
    }

    .badge-right {
      background-color: #AB2;
    }
  }

  .badge-actions {
    display: flex;

    button {
      background-color: #000;
      border: #000 1px solid;
      border-right-color: #fff;
      border-radius: 0;
      color: #fff;
  
      font-weight: 700;
      font-size: 1.5rem;
  
      min-width: 60px;

      &:before, &:after {
        background-color: #fff;
      }
    }
  }

  .badge-options {
    width: 100%;
  }
}