
.badge-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;

  height: 50px;
  line-height: 50px;
  overflow: hidden;

  position: relative;
  z-index: 2;
  padding: 0;

  .badge-left, .badge-right {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
    flex: 1 1;

    text-align: center;
    text-shadow: #0006 1px 1px 5px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .badge-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: roboto, sans-serif;
    font-weight: 500;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .badge-right {
    background-image: linear-gradient(45deg, #662d91 50%, #f15a24 50.1%);
    background-repeat: repeat-x;
    background-size: 350px;

    min-width: 80px;
    flex: 1 0;

    letter-spacing: 3px;
    font-family: montserrat, sans-serif;
    font-weight: 800;
    text-align: center;
    
    transition: background;
    transition-duration: 0.6s;
  }

  &:hover, &:focus {
    .badge-right {
      background-position-x: -220px;
    }
  }
}

a.badge-btn {
  display: inline-flex;
  text-decoration: none;
}