
html {
  font-family: acumin-pro, sans-serif;
}

body {
  background-color: #c1272d;
  margin: 0;
}

main {
  padding: 0 20px;
}

footer {
  line-height: 30px;
}

a {
  color: #c1272d;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;

  .badge .badge-right {
    background-color: #f15a24;
  }
}

.strike {
  text-decoration: line-through;
  text-decoration-color: #f15a24;
  text-decoration-thickness: 3px;
}