
.badge {
  border: none;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  line-height: 50px;
  height: 50px;
  padding: 0;

  .badge-left, .badge-right {
    font-size: 1rem;
    padding: 0 20px;
    text-transform: uppercase;
  }

  .badge-left {
    font-family: roboto, sans-serif;
    font-weight: 500;
  }

  .badge-right {
    background-color: #662d91;
    flex: 1 0;
    letter-spacing: 3px;
    font-family: montserrat, sans-serif;
    font-weight: 800;
    text-align: center;
  }
}

button.badge {
  cursor: pointer;

  .badge-right {
    background-image: linear-gradient(45deg, #662d91 49.9%, #f15a24 50%);
    background-size: 300%;
    background-repeat: repeat-x;
    transition: background;
    transition-duration: 0.6s;
    min-width: 80px;
  }

  &:hover {
    .badge-right {
      background-position-x: -220px;
    }
  }
}