
.hero {
  background-color: #c1272d;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: #fff;
  margin: 0 auto;
  padding: 0 10px;

  .title {
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 20vh;

    h1 {
      font-weight: 100;
      margin: 0;
    }

    p {
      margin: 0;
    }

    .badge {
      margin-top: 30px;
    }

    @media (min-width: 768px) {
      max-width: 900px;
      width: 100%;
      margin: auto;
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  // Background mode
  &.bg {
    z-index: -1;
  }
}

.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 900px;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100px;

    a {
      color: #fff;
      font-family: roboto, sans-serif;
      font-size: 22px;
      text-decoration: none;
      text-shadow: #0006 5px 5px 10px;
      margin-left: 30px;
    }
  }
}