<main class="dashboard">
  <header class="dashboard-section">
    <nav class="dashboard-nav">
      <app-badge-btn leftText="Create" rightText="New" (click)="createProject()"></app-badge-btn>
      <dashboard-profile></dashboard-profile>
    </nav>
  </header>
  <div class="dashboard-split-screen">
    <section class="dashboard-section projects-list">
      <h2>Your Projects</h2>
      <ul>
        <li class="project-selector" *ngFor="let project of projects">
          <span class="title">{{project.title}}</span>
          <span class="count">{{project.badges.length}}</span>
        </li>
      </ul>
    </section>
    <section class="dashboard-content">
      <div id="loader" class="dashboard-section loader" *ngIf="!projects" aria-hidden="true">
        <span class="loader-title"></span>
        <span class="loader-badge"></span>
        <span class="loader-badge"></span>
      </div>
      <dashboard-welcome *ngIf="firstTime"></dashboard-welcome>
      <dashboard-project *ngFor="let project of projects" [user]="userId" [project]="project" (deleteThis)="deleteProject($event)"></dashboard-project>
      <section id="dov" class="collapsed" onmousedown="hideDialog()">
        <div class="dialog-wrapper">
          <div id="dialog" class="dialog" onmousedown="stopPropagation(event)"></div>
          <div id="adv-dialog" class="dialog" onmousedown="stopPropagation(event)"></div>
        </div>
      </section>
      <footer class="dashboard-section">
        <b>&copy; 2020 Maintained</b><br>
        <b><a href="https://sdbagel.com">SDBagel</a> | <a href="https://forthebadge.com">For the Badge</a> | <a href="https://shields.io">Shields</a></b>
      </footer>
    </section>
  </div>
</main>