
.dashboard {
  display: flex;
  flex-direction: column;

  margin: 30px auto;
  max-width: 1200px;
  min-height: 50vh;

  .dashboard-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-split-screen {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    margin-top: 30px;
  }
}

.dashboard-section {
  background-color: #fff;
  border-radius: 5px;

  padding: 15px;

  h1 {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin-top: 20px;
    padding: 30px;
  }
}

.projects-list {
  margin: 0;
  margin-right: 30px;
  padding: 30px 20px;
  width: 280px;

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin-bottom: 10px;
  }

  h2 {
    margin: 0;
  }

  .project-selector {
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    p {
      margin: 0;
    }

    .count {
      background-color: #000;
      border-radius: 4px;
      color: #fff;
      padding: 0 6px;
    }
  }
}

.dashboard-content {
  flex: 1 1;
}

.loader {
  .loader-title {
    animation: bg-loader 2s linear infinite forwards;
    background-image: linear-gradient(45deg, #ddd 20%, #ccc 50%, #ddd 80%);
    background-size: 500px;
    display: block;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
  }

  .loader-badge {
    animation: bg-loader 2s linear infinite forwards;
    background-image: linear-gradient(45deg, #ddd 20%, #ccc 50%, #ddd 80%);
    background-size: 500px;
    display: block;
    height: 50px;
    width: 100%;
    
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

@keyframes bg-loader {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 500px;
  }
}