
<section class="dashboard-welcome">
  <h2>Maintained/Welcome</h2>
  <div class="welcome-content">
    <div [ngClass]="{'step-visible':stepsSeen===0}">
      <p>Welcome to the Maintained dashboard, your management tool for creating and updating badges for projects. Make dynamic badges that pull data from sources like GitHub, Travis CI, and custom API endpoints, share projects with teams, and more. Let's take a tour of some basics to get started.</p>
    </div>
    <div [ngClass]="{'step-visible':stepsSeen===1}">
      <p><b>Badges</b> are highly customizable, dynamically updatable elements. Below, you'll see we've created a starter badge and project for you. Badges let you display any text you wish in fields, in a variety of styles. The default number of fields is two, and the minimum is one, but you can add up to 25 fields for some seriously crazy badging!</p>
    </div>
    <div [ngClass]="{'step-visible':stepsSeen===2}">
      <p><b>Badge customization</b> can be done by clicking the gear icon to the right of the badge. You can change the colors, add icons, and add or remove badge fields. Advanced settings include Dynamic Value Sources and enabling dynamic redirects with Link Direct. <a href="https://github.com/SDBagel/Maintained/wiki" target="_blank">Learn more about advanced customization features.</a></p>
    </div>
    <div [ngClass]="{'step-visible':stepsSeen===3}">
      <p>Maintained organizes your badges into <b>projects</b>. You can create new projects by clicking "Create New" in the top left corner. Navigate your projects on the sidebar to the left. Default settings, like badge style and color, can be configured by clicking the gear icon on a project. Projects can also be shared with other Maintained users.</p>
    </div>
    <div [ngClass]="{'step-visible':stepsSeen===4}">
      <p>Need more resources to get started? Check these out. Happy badging!</p>
      <ul>
        <li><a href="https://github.com/SDBagel/Maintained/wiki">Adding icons to badges</a></li>
        <li><a href="https://github.com/SDBagel/Maintained/wiki">Using Dynamic Value Sources</a></li>
        <li><a href="https://github.com/SDBagel/Maintained/wiki">Using Link Direct for dynamic redirects</a></li>
        <li><a href="https://github.com/SDBagel/Maintained/wiki">Some cool use cases!</a></li>
      </ul>
    </div>
  </div>
  <div class="action-bar">
    <div class="steps-indicator" aria-hidden="true">
      <span class="indicator" [ngClass]="{'fill':stepsSeen==0}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen==1}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen==2}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen==3}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen==4}"></span>
    </div>
    <app-badge-btn leftText="Back" (click)="decrementStep()" style="transform:scale(0.9);" *ngIf="stepsSeen>0"></app-badge-btn>
    <app-badge-btn rightText="Next" (click)="incrementStep()" style="transform:scale(0.9);" *ngIf="stepsSeen<4"></app-badge-btn>
    <app-badge-btn rightText="Finish" (click)="hideWelcome()" style="transform:scale(0.9);" *ngIf="stepsSeen===4"></app-badge-btn>
  </div>
</section>