
<section class="dashboard-welcome">
  <h2>Maintained/Welcome</h2>
  <div class="welcome-content">
    <p>Welcome to Maintained! This is your dashboard. Create and edit your items from here. Your changes automatically save, so no worries! We included a starter project to get you going - try clicking the badge fields to edit them.</p>
  </div>
  <div class="action-bar">
    <div class="steps-indicator">
      <span class="indicator" [ngClass]="{'fill':stepsSeen>=1}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen>=2}"></span>
      <span class="indicator" [ngClass]="{'fill':stepsSeen>=3}"></span>
    </div>
    <app-badge-btn rightText="Next" (click)="incrementStep()" style="transform: scale(0.9);"></app-badge-btn>
  </div>
</section>