
.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 900px;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100px;

    a {
      color: #fff;
      font-family: roboto, sans-serif;
      font-size: 22px;
      text-decoration: none;
      margin-left: 30px;
    }
  }
}