
<section class="dashboard-project">
  <div class="project-header">
    <h2>
      <span class="droplet"></span>
      <span class="project-username">{{user}}/</span>
      {{project?.title}}
      <span class="project-save">Saved</span>
    </h2>
    <div class="project-actions">
      <button class="icon-close" title="Delete Project"></button>
      <button class="icon-add" title="Add Badge"></button>
    </div>
  </div>
  <ul class="badges">
    <li *ngFor="let badge of project?.badges">
      <project-badge-editor [badge]="badge"></project-badge-editor>
    </li>
  </ul>
</section>