
<section class="dashboard-project">
  <div class="project-header">
    <h2>
      <span class="droplet"></span>
      <span class="project-username">User/</span>
      {{project?.title}}
      <span id="save-${title}" class="project-save">Saved</span>
    </h2>
    <div class="project-actions">
      <button class="icon-close" title="Delete Project"></button>
      <button class="icon-add" title="Add Badge"></button>
    </div>
  </div>
  <ul id="badge-group-${title}" class="badges">
    Badges
  </ul>
</section>