
.icon-add, .icon-close {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: #555;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4px;
    height: 16px;
    margin: auto;
  }

  &:after {
    height: 4px;
    width: 16px;
  }
}

.icon-close {
  &:before, &:after {
    transform: rotate(45deg);
  }
}

.icon-md {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: transparent !important;
    border: 4px solid;
    border-color: #fff #fff transparent transparent;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4px;
    height: 4px;
    transform: translateX(2px) rotate(45deg);
    margin: auto;
  }

  &:after {
    transform: translateX(-2px) rotate(225deg);
  }
}