
.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 900px;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100px;

    a {
      color: #fff;
      font-family: roboto, sans-serif;
      font-size: 22px;
      text-decoration: none;
      margin-left: 30px;
    }
  }
}

.hero {
  background-color: #c1272d;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: #fff;
  margin: 0 auto;
  padding: 0 10px;

  .title {
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 20vh;

    h1 {
      font-weight: 300;
      margin: 0;
			margin-bottom: 5px;

			span {
				background-color: #fff;
				color: #c1272d;
				padding: 0 10px;
			}
    }

    p {
      margin: 0;
    }

    .badge {
      margin-top: 30px;
    }

    @media (min-width: 768px) {
      max-width: 1100px;
      width: 100%;
      margin: auto;
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  // Background mode
  &.bg {
    z-index: -1;
  }
}

.content {
	background-color: #fff;
	padding: 15px;
	position: relative;
	top: 100vh;
	left: 0;
	right: 0;
	z-index: 10;
}

.section {
	max-width: 700px;
	margin: auto;
	padding: 60px 0;
	text-align: center;

	h2 {
		font-size: 2em;
		text-transform: uppercase;
	}

	p {
		font-size: 1.5em;
	}
}

footer.section > p {
	font-size: 1em;
}