<main>
  <header class="hero-nav">
    <nav>
      <a href="#about">About</a>
      <a href="https://github.com/SDBagel/Maintained">GitHub</a>
    </nav>
  </header>
  <div class="hero">
    <div class="title">
      <h1>Maintained <span>Nightly</span></h1>
      <p>Repository badging, over-engineered.</p>
      <br>
      <app-badge-btn href="oauth/login" leftText="Start With" rightText="GitHub"></app-badge-btn>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 803"><path d="M1315,0c12.28,31.88,75.86,205.42-14,341-11.9,18-60.06,85.89-200,131-263.18,84.84-414.79-51.63-750-42-79.45,2.28-201.34,13.69-351,62V803H1920V558c-41.48-87.81-123.92-232.55-277-364A1095.56,1095.56,0,0,0,1315,0Z" style="fill:#f15a24"/><path d="M1315,0c128.53,156.36,165,343.26,92,470-83.12,144.36-280,161.72-348,167.71C823.58,658.48,726.85,534.48,442,486c-172-29.27-324.57-16-442,6V803H1920V558c-41.48-87.81-123.92-232.55-277-364A1095.56,1095.56,0,0,0,1315,0Z" style="fill:#f7931e"/><path d="M1315,0c203.33,191.19,280.89,443.49,196,598-112.48,204.73-480.39,183.62-665,137C678.88,692.79,638.52,623.75,413.23,556.41,245.39,506.25,99.1,494.15,0,492V803H1920V558c-41.48-87.81-123.92-232.55-277-364A1095.56,1095.56,0,0,0,1315,0Z" style="fill:#fbb03b"/></svg>
  </div>
  <div class="content">
    <section class="section">
      <a name="about"></a>
      <h2 class="header">Absolutely Essential.</h2>
      <p class="para">Properly badging your repositories is a key part to any software development process. It communicates your project's status in a concise and clear manner. Visit <a href="https://shields.io">shields.io</a> today.</p>
    </section>
    <section class="section">
      <h2 class="header">Built for the Modern Dev.</h2>
      <p class="para">We determined making a new commit to change badges is just too much work for the modern, lazy developer. So, we over-engineered a <span class="strike">dumb</span> solution to let you edit badges on the fly. No additional commits needed.</p>
    </section>
    <section class="section">
      <h2 class="header">(But Really)</h2>
      <p class="para">You get total manual control over your badges. Alternatively, use our powerful Soon™ customization options to dynamically pull data from <i>anywhere.</i></p>
      <p class="para"><b>It's serious business.</b></p>
      <div class="cta">
        <app-badge-btn href="oauth/login" leftText="Get Started" rightText="Now"></app-badge-btn>
      </div>
    </section>
    <footer class="section">
      <p>&copy; 2020 <a href="https://sdbagel.com">SDBagel</a> | Badge Styles: <a href="https://forthebadge.com">For the Badge</a> &amp; <a href="https://shields.io">Shields</a></p>
      <p><a href="https://github.com/SDBagel/Maintained">MIT License & Open Source</a></p>
    </footer>
  </div>
</main>